
<h1>Add a review to <%= @review.restaurant.name %></h1>
<%= simple_form_for [@review.restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>

  <%= f.submit "add a review", class: "btn btn-primary" %>
<% end %>

<%= link_to 'Back', restaurant_path(@restaurant) %>
